<div class="cardcontent">
    <img src="{{ img }}">
    <div class="cardtext">
        <h3>{{ title }}</h3>
        <p>Datum/Uhrzeit: {{ date }} {{ time }}</p>
        <p>Ort: {{ location }}</p>
        <p>Preis: {{ price }} €</p>
        <p>Verfügbare Plätze: {{ available }}</p>

        <div *ngIf="showDetails">
            <b>Beschreibung:</b> 
            <p>
                {{ description }}
            </p>
        </div>

        <div *ngIf="showCheckout">
            <p>
                <b>Buchung:</b>
            </p>
            <p>
                Anzahl Personen:
                <input [(ngModel)]="amountIn" type="number" min="1" max="6">
            </p>
        </div>

        <button *ngIf="!showDetails" (click)="toggleDetails()">Details</button>
        <button *ngIf="showDetails" (click)="toggleDetails()">Einklappen</button>
        <button *ngIf="!showCheckout" (click)="toggleCheckout()">Buchen</button>
        <button *ngIf="showCheckout" (click)="checkout()">Jetzt buchen</button>
        
        <p *ngIf="invalidAmount" class="red">
            Es sind nicht mehr ausreichend Plätze verfügbar. Bitte eine geringere Anzahl auswählen!
        </p>

        <p *ngIf="result" class="green">
            Buchung erfolgreich!
        </p>
    </div>
</div>